
<div class="cards">
    <%= link_to rooms_path(@room, :query => 'Lyon') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Lyon
  </div>
  <% end %>

   <%= link_to rooms_path(@room, :query => 'Paris') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Paris
  </div>
  <% end %>

  <%= link_to rooms_path(@room, :query => 'Rennes') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Rennes
  </div>
  <% end %>
</div>

<div class="cards">
  <%= link_to rooms_path(@room, :query => 'Aubagne') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Aubagne
  </div>
  <% end %>

   <%= link_to rooms_path(@room, :query => 'Allauch') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Allauch
  </div>
  <% end %>

   <%= link_to rooms_path(@room, :query => 'Marseille') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Marseille
  </div>
  <% end %>
</div>

<div class="cards">
   <%= link_to rooms_path(@room, :query => 'Bordeaux') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Bordeaux
  </div>
  <% end %>

 <%= link_to rooms_path(@room, :query => 'Nîmes') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Nîmes
  </div>
  <% end %>

  <%= link_to rooms_path(@room, :query => 'Saint-Etienne') do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.studio-ldc.com/images/studio/studio-3.jpg)">
  Saint-Etienne
  </div>
  <% end %>
</div>

