<br>
<div class="containershow">
  <div class="containerroom d-flex">
  <h1> <%= @room.name %> </h1>
  <h3> <%= @room.city %> </h3>
  <h6> <%= @room.address %> </h6>
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for [@room, @reservation] do |f| %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
        <%= f.button :submit, "Réserver", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br><br><br>
  <div class="row">
    <div class="col-lg-6">
     Notre Home Studio réunit les meilleures conditions propices au travail en Studio d'enregistrement.
     Depuis de nombreuses années nous efforçons de nous mettre au service de votre projet !
     Venez enregistrer ou simplement répéter vos morceaux dans notre espace dédié.
     Have fun!
     <br>
     C’est un endroit indispensable à la production musicale de qualité car il met à la disposition des artistes, réalisateurs et ingénieurs un personnel qualifié et compétent, un parc matériel haut de gamme et des espaces de travail dont l’acoustique est étudiée et maitrisée.
      <br>Le studio est l’endroit où sont réunis le maximum de compétences humaines, les outils indispensables et les espaces insonorisés adéquats. Enregistrer un instrument dans un lieu spécifique est le gage de la qualité sonore, utiliser un piano à queue ou une batterie ne peut être fait n’importe où.
      <br>La musique demande beaucoup de compétence différentes, arrangeur, réalisateur, ingénieur du son, mixeur, mastering, chacun est spécialisé dans son travail pour donner le meilleur au projet.
    </div>
    <div class="col-lg-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://trempo.com/wp-content/uploads/2019/08/studio11_davidgallard_clack-2000x1333.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.zikinf.com/_gfx/annonces/dyn/studio-d-enregistrement-2614650.jpg?1558540637" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.montmartrerecording.com/wp-content/uploads/2015/04/cabine-enregistrement-record-paris.jpg" alt="Third slide">
        </div>
          </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    </div>
    <br><br><br>
    <hr>
    <br>
    <br><br><br><br>
  </div>
      <div class="row">
          <div id="map"
            style="width: 700px; height: 500px;"
            data-marker="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
    </div>
<br><br><br><br><br><br>



